<nav id="app-header">
    <div class="d-flex align-items-center justify-content-between p-3">
        <div class="page-logo flex-grow-1 d-none d-md-block">
            <h3 class="demo-title cursor-pointer" routerLink="app">
                {{config.title}}
            </h3>

            <div class="d-none d-md-block">
                Powered By
                <a href="https://www.xano.com" target="_blank">
                    <img class="logo clickable"
                         src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg"
                         width="75px"
                    />
                </a>
            </div>
        </div>
        <div class="d-flex justify-self-center flex-grow-1">
            <mat-form-field appearance="outline" class="w-100" style="margin-bottom: -25px">
                <mat-label>Search</mat-label>
                <input autocomplete="off" matInput [formControl]="search" />
                <mat-icon *ngIf="search.value"
                          matSuffix class="cursor-pointer" (click)="resetSearch()">close</mat-icon>
                <mat-icon class="search-icon" matSuffix *ngIf="!search.value"> search</mat-icon>
            </mat-form-field>
        </div>

        <div class="nav-buttons d-flex justify-content-end flex-grow-1">
            <button mat-flat-button color="primary" (click)="manage()">+ Event</button>
        </div>

    </div>
</nav>

