#app-header {
    background-color: rgba(25, 25, 25);
    padding: 5px 25px;

    * {
        color: whitesmoke;
    }

    .demo-title {
        font-weight: 900;
    }

    .menu-with-profile-image {
        width: fit-content;
        margin-left: auto;
        border-radius: 30px;
        padding: 0 5px;
        border: 1px solid white;
        background: whitesmoke;
    }

    .menu-button mat-icon {
        font-size: 2em;
        padding: 5px;
        color: black;
        width: fit-content;
        height: fit-content;
    }

    .page-logo, .nav-buttons {
        width: 200px;
    }

    ::ng-deep .mat-form-field:not(.mat-form-field-invalid):not(.mat-focused) .mat-form-field-flex  {
        * {color: white}
    }

}

@media screen and (max-width: 515px) {
    #app-header {
        padding: 5px 0!important;
    }
}
