<section id="events">
    <div class="d-flex">
        <div class="d-flex align-items-center w-100 justify-content-end">
           <mat-slide-toggle class="ml-2" color="primary" (change)="toggleNearMe($event)">
                Near Me
            </mat-slide-toggle>
        </div>


        <div class="ml-auto p-4">
            <mat-button-toggle-group>
                <mat-button-toggle (click)="filterDate('all')" [checked]="true">All</mat-button-toggle>
                <mat-button-toggle (click)="filterDate('week')">This Week</mat-button-toggle>
                <mat-button-toggle (click)="filterDate('today')">Today</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

    </div>
    <div  class="d-flex flex-wrap justify-content-center"
          infiniteScroll
          [infiniteScrollUpDistance]="25"
          [infiniteScrollDistance]="25"
          [infiniteScrollThrottle]="25"
          (scrolled)="loadMore()"
          (scrolledUp)="loadMore()"
    >
        <mat-card *ngFor="let event of events" class="d-flex flex-column">
            <img *ngIf="event.cover_photo?.url" [src]="event.cover_photo?.url" alt="cover photo" class="card-image">
            <div *ngIf="!event.cover_photo?.url" class="no-image">
                <mat-icon>calendar_today</mat-icon>
            </div>
            <mat-card-content class="p-4 pb-0 flex-grow-1">
                <p class="event-name mb-4">{{event.name}}</p>
                <p class="d-flex align-items-center">
                    <mat-icon class="mr-2">event</mat-icon>
                    <b>
                        {{event.start_at | date: 'short'}}{{event.end_at ? ' - ' + (event.end_at | date: 'short') : ''}}
                    </b>
                </p>
                <p *ngIf="event.location?.data" class="d-flex align-items-center">
                    <mat-icon class="mr-2">location_on</mat-icon>
                    <b>
                        {{getLocation(event.location?.data?.lat, event.location?.data?.lng)}}
                    </b>
                </p>

                <p *ngIf="event.is_online_event && event.online_event_link" class="d-flex align-items-center">
                    <mat-icon class="mr-2">web</mat-icon>
                    <a href="{{event.online_event_link}}" target="_blank"><b>Online Event</b></a>
                </p>

                <p *ngIf="event.rsvp_count" class="d-flex align-items-center">
                    <mat-icon class="mr-2">group</mat-icon>
                    <b>
                        {{event.rsvp_count}} Going
                    </b>
                </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-center align-items-center pb-5">
                <mat-button-toggle-group>
                    <mat-button-toggle (click)="showPanel('view', event)"><b>Details</b></mat-button-toggle>
                    <mat-button-toggle (click)="showPanel('rsvp', event)"><b>RSVP</b></mat-button-toggle>
                </mat-button-toggle-group>
            </mat-card-actions>
        </mat-card>
        <div *ngIf="noResults && !loading" class="d-flex justify-content-center align-items-center w-100">
            <h1>No Events</h1>
        </div>
        <div *ngIf="loading" class="d-flex w-100 justify-content-center align-items-center">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</section>
