#events {
    .event-name {
        font-weight: 900;
        color: rgb(63, 81, 181);
        font-size: 2em;
    }

    mat-card {
        margin: 25px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px!important;
        padding: 0;
        width: 350px;

        mat-button-toggle:first-of-type {
            border-right: 1px solid rgba(0, 0, 0, 0.4);
        }

        mat-button-toggle {
            background: rgb(63, 81, 181);
            color: whitesmoke;
            width: 100px;
        }
    }

    .card-image {
        width: 350px;
        height: 175px;
        object-fit: cover;
        object-position: top;
    }

    .no-image {
        width: 350px;
        height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.2);

        * {
            font-size: 3em;
            width: fit-content;
            height: fit-content;
        }
    }
}

@media screen and (max-width: 515px) {
    mat-card {
        margin: 10px 0!important;
    }
}
