<section class="d-flex flex-column flex-md-row justify-content-center justify-content-md-around align-items-center p-2 pt-4 p-md-4"
        id="demo-landing">
    <div class="d-flex flex-column justify-content-center align-items-md-start align-items-center api-form">
        <a href="https://www.xano.com" target="_blank">
            <img class="logo clickable" src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg"
                 width="370px"/>
        </a>
        <div class="w-100">
            <h2 class="mt-4">{{config.title}} Demo</h2>
            <form [formGroup]="configForm" class="w-100">
                <mat-form-field appearance="outline" class="w-100 mt-4" color="primary">
                    <mat-label>Your Xano API URL</mat-label>
                    <input (paste)="pasteSubmit()" autocomplete="off" formControlName="xanoUrl" matInput/>
                    <mat-icon (click)="submit()" class="cursor-pointer" color="primary" matSuffix>login</mat-icon>
                    <mat-error *ngIf="configForm.controls.xanoUrl.hasError('required')">URL is required</mat-error>
                    <mat-error *ngIf="configForm.controls.xanoUrl.hasError('pattern')">Please enter a Valid URL
                    </mat-error>
                </mat-form-field>
            </form>

        </div>
    </div>
    <mat-card class="m-md-4 m-2">
        <div style="max-width: 600px">
            <div>
                <b>Summary</b>
                <mat-divider class="mt-2"></mat-divider>
                <p class="mt-4">
                    This demo illustrates the use of the Xano Events Template, which provides you with the ability to
                    create events and let people RSVP to them.
                </p>
                <p>
                    This demo includes the capabilities of posting new events, viewing those events, and RSVPing to the
                    events. The extension is more robust and allows for all CRUD operations, but if you were to include
                    this in your front-end, you should include authentication to restrict who can edit events and create
                    events. You could also extend your front-end to display a list of all RSVP responders.
                </p>
                <p>
                    The RSVP table takes a person's name and email contact information, which can be leveraged to send
                    out a newsletter or reminders for events and tally the number of people you can expect to attend an
                    event.
                </p>
            </div>
            <div>
                <b>Getting Started</b>
                <mat-divider class="mt-2"></mat-divider>
                <ul class="mt-4">
                    <li *ngFor="let instruction of config.instructions">
                        {{instruction}}
                    </li>
                </ul>
            </div>
            <div>
                <div class="d-flex align-items-center">
                    <div>
                        <b>Components</b>
                    </div>
                    <div class="ml-auto">
                        <button (click)="accordion.openAll()" mat-button>Expand All</button>
                        <button (click)="accordion.closeAll()" mat-button>Collapse All</button>
                    </div>
                </div>

                <div class="mb-4">
                    <mat-divider></mat-divider>
                </div>

                <mat-accordion class="mt-5" multi>
                    <mat-expansion-panel *ngFor="let component of config.components">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{component.name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            {{component.description}}
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

        <div *ngIf="config.editLink" class="mt-4">
            <b>Source Code</b>
            <mat-divider class="mt-2"></mat-divider>
            <p class="mt-4">
                The source code for this demo is available publicly.
            </p>
            <a [href]="config.editLink" color="primary" mat-raised-button target="_blank">
                {{config.editText ? config.editText : 'Get Source Code'}}
            </a>
        </div>
    </mat-card>

</section>
