<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">RSVP</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>


    <div class="panel-content">

        <div class="mb-4">
            <h2>You're RSVPing to {{data?.event?.name}}!</h2>

            <h3>Details</h3>
            <p class="d-flex align-items-center">
                <mat-icon class="mr-2">event</mat-icon>
                <b>
                    {{data?.event?.start_at | date: 'short'}}{{data?.event?.end_at ? ' - ' + (data?.event?.end_at | date: 'short') : ''}}
                </b>
            </p>
            <p *ngIf="data?.event?.location?.data" class="d-flex align-items-center">
                <mat-icon class="mr-2">location_on</mat-icon>
                <b>
                    {{getLocation(data?.event?.location?.data?.lat, data?.event?.location?.data?.lng)}}
                </b>
            </p>
            <hr />
        </div>

        <form [formGroup]="rsvpForm" class="d-flex flex-column" autocomplete="off">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text"/>
                <mat-error *ngIf="rsvpForm.controls.name.hasError('required')">Name is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="text"/>
                <mat-error *ngIf="rsvpForm.controls.email.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="rsvpForm.controls.email.hasError('pattern')">Not Valid Email</mat-error>
            </mat-form-field>

        </form>

    </div>

    <div class="panel-footer">
        <!--        <button class="mr-auto" mat-flat-button color="warn" (click)="deleteJob()"><mat-icon>delete</mat-icon></button>-->
        <button (click)="submit()" color="primary" mat-flat-button>RSVP</button>
    </div>

</section>
