<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{data?.event ? (data.event.name | titlecase) : 'New Event'}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>


    <div class="panel-content">
        <form [formGroup]="eventForm" class="d-flex flex-column" autocomplete="off">
            <div class="mb-4">
                <ng-container *ngIf="eventForm.controls.cover_photo.value">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="flex-fill">
                            <img [src]="image?.url ?  image.url : image" class="submitted-image"/>
                        </div>
                        {{eventForm.controls.cover_photo.value?.name}}
                        <button (click)="deleteImage()" color="warn" mat-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                </ng-container>
                <ng-container *ngIf="!eventForm.controls.cover_photo.value">
                    <ng-container *ngIf="uploading">
                        <div class="d-flex align-items-center justify-content-center">
                            <mat-spinner></mat-spinner>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!uploading">
                        <div (click)="fileUpload.click()"
                             class="d-flex flex-column justify-content-center align-items-center pt-2 image-upload-box">
                            <div>
                                <button mat-stroked-button type="button">
                                    <mat-icon>publish</mat-icon>
                                </button>
                            </div>
                            <div>
                                <h2>Upload Cover Image</h2>
                            </div>
                            <input #fileUpload (change)="upload($event)" accept="image/*" hidden type="file">
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text"/>
                <mat-error *ngIf="eventForm.controls.name.hasError('required')">Name is required</mat-error>
            </mat-form-field>


            <mat-slide-toggle class="mb-2" color="primary" formControlName="is_online_event">
                Online Event
            </mat-slide-toggle>

            <mat-form-field *ngIf="this.eventForm.controls.is_online_event.value" appearance="outline">
                <mat-label>Online Event Link</mat-label>
                <input formControlName="online_event_link" matInput type="text"/>
            </mat-form-field>

            <mat-form-field *ngIf="!this.eventForm.controls.is_online_event.value" appearance="outline">
                <mat-label>Location</mat-label>
                <mat-select [value]="location" formControlName="location">
                    <mat-option *ngFor="let city of cities" [value]="city">
                        {{city.city + ', ' + city.state}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

<!--            <mat-form-field appearance="outline">-->
<!--                <mat-label>Timezone</mat-label>-->
<!--                <mat-select formControlName="timezone">-->
<!--                    <mat-option *ngFor="let timezone of timezones" [value]="timezone">-->
<!--                        {{timezone}}-->
<!--                    </mat-option>-->
<!--                </mat-select>-->
<!--                <mat-error *ngIf="eventForm.controls.timezone.hasError('required')">Timezone is required</mat-error>-->
<!--            </mat-form-field>-->

            <mat-form-field appearance="outline">
                <mat-label>Starts At</mat-label>
                <input [min]="minDate" [ngxMatDatetimePicker]="pickerStart" formControlName="start_at"
                       matInput
                       placeholder="Choose a date">
                <mat-datepicker-toggle [for]="pickerStart" matSuffix></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerStart [stepHour]="1" [stepMinute]="30" color="primary">
                </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Ends At</mat-label>
                <input [min]="minDate" [ngxMatDatetimePicker]="pickerEnd" formControlName="end_at" matInput
                       placeholder="Choose a date">
                <mat-datepicker-toggle [for]="pickerEnd" matSuffix></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerEnd [stepHour]="1" [stepMinute]="30" color="primary">
                </ngx-mat-datetime-picker>
            </mat-form-field>

            <b>Description</b>
            <div class="mb-4 mt-2" style="background-color: white; color: black">
                <quill-editor [modules]="modules" [styles]="{height: '250px'}" formControlName="description">
                </quill-editor>
            </div>

        </form>

    </div>

    <div class="panel-footer">
        <!--        <button class="mr-auto" mat-flat-button color="warn" (click)="deleteJob()"><mat-icon>delete</mat-icon></button>-->
        <button (click)="submit()" color="primary" mat-flat-button>{{!data?.job ? 'Post' : 'Update'}}</button>
    </div>

</section>
