<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{data.event.name | titlecase}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>


    <div class="panel-content">
        <img *ngIf="event?.cover_photo?.url" [src]="event?.cover_photo?.url" alt="cover photo" class="panel-image">
        <div *ngIf="!event?.cover_photo?.url" class="panel-no-image">
            <mat-icon>calendar_today</mat-icon>
        </div>
        <div class="mt-4">
            <p class="d-flex align-items-center">
                <mat-icon class="mr-2">event</mat-icon>
                <b>
                    {{event?.start_at | date: 'short'}}{{event?.end_at ? ' - ' + (event?.end_at | date: 'short') : ''}}
                </b>
            </p>
            <p *ngIf="event?.location?.data" class="d-flex align-items-center">
                <mat-icon class="mr-2">location_on</mat-icon>
                <b>
                    {{getLocation(event.location?.data?.lat, event?.location?.data?.lng)}}
                </b>
            </p>
            <p *ngIf="event?.rsvp_count" class="d-flex align-items-center">
                <mat-icon class="mr-2">group</mat-icon>
                <b>
                    {{event?.rsvp_count}} Going
                </b>
            </p>

            <hr />
            <h2>About</h2>
            <div [innerHTML]="event?.description"></div>
        </div>
    </div>

    <div class="panel-footer">
        <button (click)="rsvp()" color="primary" mat-flat-button>RSVP</button>
    </div>


</section>
