.panel-image {
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position: top;
}

.panel-no-image {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);

    * {
        font-size: 3em;
        width: fit-content;
        height: fit-content;
    }
}
