<section id="home">
    <div *ngIf="!configured else Events">
        <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
    </div>
    <ng-template #Events>
        <app-events></app-events>
    </ng-template>
</section>
